/* Buttons */
input[type="submit"], input[type="reset"], input[type="button"], .button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.35em;
    border: solid 3px var(--border-color);
    color: var(--text-muted) !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: calc(2.75em + 6px);
    line-height: 2.75em;
    min-width: 10em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:hover { border-color: var(--color-primary); color: var(--color-primary) !important; }
input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, .button:active { background-color: var(--color-primary-active-bg); border-color: var(--color-primary); color: var(--color-primary) !important; }

input[type="submit"].icon, input[type="reset"].icon, input[type="button"].icon, .button.icon { padding-left: 1.35em; }
input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before, .button.icon:before { margin-right: 0.5em; }

input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit, .button.fit { min-width: 0; width: 100%; }
input[type="submit"].small, input[type="reset"].small, input[type="button"].small, .button.small { font-size: 0.8em; }
input[type="submit"].large, input[type="reset"].large, input[type="button"].large, .button.large { font-size: 1.35em; }

input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary, .button.primary { background-color: var(--color-primary); border-color: var(--color-primary); color: var(--text-on-dark) !important; }
input[type="submit"].primary:hover, input[type="reset"].primary:hover, input[type="button"].primary:hover, .button.primary:hover { background-color: var(--color-primary-hover); border-color: var(--color-primary-hover); }
input[type="submit"].primary:active, input[type="reset"].primary:active, input[type="button"].primary:active, .button.primary:active { background-color: var(--color-primary-active); border-color: var(--color-primary-active); }

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled, input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled, .button.disabled, .button:disabled {
    background-color: var(--disabled-bg) !important;
    border-color: var(--disabled-bg) !important;
    color: var(--text-muted-2) !important;
    cursor: default;
}
